.grid-layout {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: .25rem;
}

.grid-layout .row {
  display: flex;
  height: 5rem;
  flex-direction: row;
  gap: .25rem;
}

.grid-layout .row .cell {
  width: 5rem;
  box-sizing: border-box;
}

.simple-border {
  border: 1px solid black;
}

.clickable {
  cursor: pointer;
}

.clicked {
  background: lightgreen;
}